.smallSliderImg {
  position: relative;
  right: 22% !important;
  object-fit: contain !important;
  scale: 1.2;
}
.accordion-item:first-of-type>.accordion-header .accordion-button{
  border-radius: 1rem;
}
.accordion-item:first-of-type{
  border-radius: 1rem;
  border: none !important;
}
.accordion-item:first-of-type .accordion-button{
  border-top: none !important; /* Removes top border specifically for the first button */
}

.accordion-button {
  color: #695a55 !important;
  font-weight: 600 !important;
  background-color: transparent;
  border-top: 2px solid #f97d82;
  border-radius: 1rem;
  padding: 0 7px;

}
.answerbox {
  background-color: #ffffff !important;
  color: #695a55;
  /* font-weight: 600; */
}
.accordion-body{
  padding-top: 0;
}
.accordion-item {
  /* border: 2px solid var(--blue-color) !important; */
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.2rem 0;
  border: none !important;
  background-color: transparent;
}
.accordion{
  background-color: transparent !important;
  overflow: hidden;
}

.accordion-button:not(.collapsed) {
  color: #695a55 !important;
  background-color: #ffffff !important;
}

.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
    height: 100%; */
  object-fit: cover;
}

.logobgss {
  background-color: #ffffff;
  border-radius: 5px;
  width: max-content;
}

.custom-modal .modal-content {
  background: transparent;
  border: none;
  box-shadow: none;
}

.custom-modal .modal-dialog {
  max-width: unset;
  margin: 0;
}

.custom-dialog {
  padding: 0;
}

.custom-modal .modal-body {
  padding: 0;
}

.modal-backdrop {
  background: rgba(201, 153, 153, 0.137);
}

.modal.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* gallery */

.gallery-container {
  padding: 2rem;
  column-count: 3;
  max-width: 75%;
  margin: 0 auto;
  overflow: hidden;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 1rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .gallery-container {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .gallery-container {
    column-count: 2;
    max-width: 85%;
  }
}

@media (max-width: 426px) {
  .gallery-container {
    column-count: 1;
    max-width: 90%;
  }
  .accordion-button{
    line-height: 2rem;
    padding: 0.7rem;
  }
}
.cs_footer_contact{
  color:#695a55
}

.activedivclass{
position: relative;
top: -40px;
}