/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --heading-color: #695a55;
  --body-color: #695a55;
  --accent-color: #f79998;
  --blue-color: #f97d82;
  --gray-color: #e8edf0;
  --border-color: #dddddd;
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Rubik', sans-serif;

  --pink-100: #fbb096;
  --pink-200: #f79998;
  --pink-300: #f68e99;
  --pink-400: #f97d82;
  --brown-500: #695a55;
  // #695a55
  // #fbb096
  // #f79998
  // #f68e99
  // #f97d82
}
